
.env
.env.local
.env.*.local
!.env.example

node_modules/
.next/
out/
coverage/
!app/[[]version]/coverage/
!app/[[]version]/coverage/page.tsx
playwright-report/
test-results/
.vercel
.env*

tsconfig.tsbuildinfo

tsconfig.tsbuildinfo
